<!-- DataTables -->
<div class="card shadow mb-4" id="sale-table">
    <div class="card-header py-3">
        <a href="/sales/new-transaction" id="add-btn" href="" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Add</span>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="saleList" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Invoice</th>
                        <th>Time</th>
                        <th>Total Summary</th>
                        <th>Pay</th>
                        <th>Change</th>
                        <th>Customer</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Invoice</th>
                        <th>Time</th>
                        <th>Total Summary</th>
                        <th>Pay</th>
                        <th>Change</th>
                        <th>Customer</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>